{% extends 'common/base.html' %}
{% block title %}View Details{% endblock %}
{% block content %}
<!-- View details -->
<div class="container">
    <div class="row">
      <div class="col mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Select the form you wish to view or edit</h5>
            <p class="card-text">Click below</p>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select a form
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'submissions:view_personal_details' user_id=user.id %}">Personal Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_parent_details' user_id=user.id %}">Parent Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_spouse_details' user_id=user.id %}">Spouse Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_next_kin_details' user_id=user.id %}">Next of Kin Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_emergency_contact_details' user_id=user.id %}">Emergency Contact Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_high_school_details' user_id=user.id %}">High School Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_games_details' user_id=user.id %}">Games and Sports Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_clubs_details' user_id=user.id %}">Clubs and Societies Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_other_institution_details' user_id=user.id %}">Other Institution Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_other_details' user_id=user.id %}">Other Details</a>
                  <a class="dropdown-item" href="{% url 'submissions:view_file_details' user_id=user.id %}">File Details</a>
                  <!-- Add more links for other forms here -->
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
